<h1>Admin</h1>
<h2>Users</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <td><i class="fa fa-fw fa-sort-down"></i>Username</td>
                <td><i class="fa fa-fw fa-sort-down"></i>Password</td>
                <td><i class="fa fa-fw fa-sort-down"></i>Role</td>
                <td><i class="fa fa-fw fa-sort-down"></i>Action</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" class="input-sm form-control" id="admin_username" name="admin_username" placeholder="userame"></td>
                <td><input type="password" class="input-sm form-control" id="admin_password" name="admin_password" placeholder="password"></td>
                <td><input type="text" class="input-sm form-control" id="admin_roles" name="admin_roles" placeholder="role1, role2"></td>
                <td><span class="glyphicon glyphicon-plus-sign gi-admin-table"></span><span class="glyphicon glyphicon-ok-sign gi-admin-table"></span></td>
            </tr>
            <tr>
                <td>alice</td>
                <td></td>
                <td>student</td>
                <td><span class="glyphicon glyphicon-pencil gi-admin-table"></span><span class="glyphicon glyphicon-remove gi-admin-table"></span></td>
            </tr>
            <tr>
                <td>bob</td>
                <td></td>
                <td>faculty | admin</td>
                <td><span class="glyphicon glyphicon-pencil gi-admin-table"></span><span class="glyphicon glyphicon-remove gi-admin-table"></span></td>
            </tr>
            <tr>
                <td>charlie</td>
                <td></td>
                <td></td>
                <td><span class="glyphicon glyphicon-pencil gi-admin-table"></span><span class="glyphicon glyphicon-remove gi-admin-table"></span></td>
            </tr>
        </tbody>
    </table>
</div>
