<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <p>User CRUD proof of concept</p>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Username</td>
                            <td>Name</td>
                            <td>Email</td>
                            <td>Region</td>
                            <td>Primary Flair</td>
                            <td>Secondary Flair</td>
                            <td>Tertiary Flair</td>
                            <td>Media</td>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input ng-model="model.active.username" 
                            type="text" class="input-sm form-control"
                            placeholder="username"></td>
                        <td><input ng-model="model.active.firstName" 
                            type="text" class="input-sm form-control"
                            placeholder="firstName"></td>
                        <td><input ng-model="model.active.email" 
                            type="text" class="input-sm form-control"
                            placeholder="email"></td>
                        <td><input ng-model="model.active.region" 
                            type="text" class="input-sm form-control"
                            placeholder="region"></td>
                        <td><input ng-model="model.active.flair1" 
                            type="text" class="input-sm form-control"
                            placeholder="primary"></td>
                        <td><input ng-model="model.active.flair2" 
                            type="text" class="input-sm form-control"
                            placeholder="secondary"></td>
                        <td><input ng-model="model.active.flair3" 
                            type="text" class="input-sm form-control"
                            placeholder="tertiary"></td>
                        <td><input ng-model="model.active.media" 
                            type="text" class="input-sm form-control"
                            placeholder="media"></td>

                        <td>
                            <span ng-click="model.addUser()" class="glyphicon glyphicon-plus-sign gi-form-table"></span>
                            <span ng-click="model.updateUser(active)" class="glyphicon glyphicon-ok-sign gi-form-table"></span>
                        </td>
                    </tr>
        <!--                 <tr>
                            <td><input ng-model="model.active.title" 
                                type="text" class="input-sm form-control"
                                placeholder="name" id="input-form-name"></td>
                            <td>
                                <span ng-click="addForm()" class="glyphicon glyphicon-plus-sign gi-form-table"></span>
                                <span ng-click="updateForm()" class="glyphicon glyphicon-ok-sign gi-form-table"></span>
                            </td>
                        </tr> -->
                        <tr ng-repeat="user in model.users">
                            <td>{{user.username}}</td>
                            <td>{{user.firstName}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.region}}</td>
                            <td>{{user.flair1}}</td>
                            <td>{{user.flair2}}</td>
                            <td>{{user.flair3}}</td>
                            <td>{{user.media}}</td>
                            <td>
                                <span ng-click="model.deleteUser(user._id)" class="glyphicon glyphicon-remove gi-form-table"></span>
                                <span ng-click="model.selectUser(user)"  class="glyphicon glyphicon-pencil gi-form-table"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>