<div class="container-fluid">

  <div class="col-md-4">
    <div class="bs-component">

      <div class="panel panel-default">
        <div class="panel-body">
          <h4><span class="label label-info">looking for {{model.profile.beacon}}</span></h4>
          <img class="image-responsive center-block "src="https://pbs.twimg.com/profile_images/650838229126660096/r91wuuwN_400x400.jpg" alt="Profile Picture">
          <h1>@{{model.profile.username}}</h1>
          <h3>{{model.profile.firstName}} {{model.profile.lastName}} </h3>
          <p ngIf="model.profile.industry">Industry: {{model.profile.industry}} </p>
          <p ngIf="model.profile.organization">Organization: {{model.profile.organization}}</p>
          <p ngIf="model.profile.region">Region: {{model.profile.region}}</p>
          <a ng-show="!model.connected" ng-click="model.connect()" class="btn btn-raised btn-info btn-block">Connect</a>
          <a ng-show="model.connected" ng-click="model.connect()" class="btn btn-raised btn-primary btn-block">Recommend</a>
        </div>
      </div>

      <div class="bs-component">
        <div class="panel">
          <div class="panel-body">
            <a ng-click="model.changeUserByUsername('bob')" class="btn btn-raised btn-info btn-block">Bob</a>
            <a ng-click="model.changeUserByUsername('alice')" class="btn btn-raised btn-info btn-block">Alice</a>
            <a ng-click="model.changeUserByUsername('don')" class="btn btn-raised btn-info btn-block">Don</a>
            <a ng-click="model.changeUserByUsername('c')" class="btn btn-raised btn-info btn-block">Chris</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- flair 1 -->
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right">
    <div class="bs-component">
      <div class="panel panel-warning">
        <div class="panel-heading" id="primary-flair-panel-heading">
          <h3 class="panel-title">Primary Flair</h3>
        </div>
        <div class="panel-body">
          <h2>{{model.profile.flair1}} - Recommenders:</h2>
          <h3><span class="label label-padded" id="primary-flair-label"
                    ng-repeat="reco in model.getRecosForFlair(model.profile.flair1)">{{reco.recommender}}</span></h3>
          </h2>
        </div>
      </div>
    </div>
  </div>

  <!-- flair 2 -->
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right">
    <div class="bs-component">
      <div class="panel panel-warning">
        <div class="panel-heading" id="secondary-flair-panel-heading">
          <h3 class="panel-title">Secondary Flair</h3>
        </div>
        <div class="panel-body">
          <h2>{{model.profile.flair2}} - Recommenders: </h2>
          <h3><span class="label label-padded" id="secondary-flair-label"
                    ng-repeat="reco in model.getRecosForFlair(model.profile.flair2)">{{reco.recommender}}</span></h3>
          </h2>
        </div>
      </div>
    </div>
  </div>


  <!-- flair 3 -->
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right">
    <div class="bs-component">
      <div class="panel panel-warning">
        <div class="panel-heading" id="tertiary-flair-panel-heading">
          <h3 class="panel-title">Tertiary Flair</h3>
        </div>
        <div class="panel-body">
          <h2>{{model.profile.flair3}} - Recommenders:</h2>
          <h3><span class="label label-info label-padded" id="tertiary-flair-label"
                    ng-repeat="reco in model.getRecosForFlair(model.profile.flair3)">{{reco.recommender}}
            </span>
          </h2>
        </div>
      </div>
    </div>
  </div>

  <!-- Media -->
  <div class="col-md-8 col-sm-12 col-xs-12 pull-right">
    <div class="bs-component">
      <div class="well well-lg panel-default">
        <div class="panel-body responsive">
          <div ng-bind-html="model.profile.mediaIFrame"></div>
        </div>
      </div>
    </div>
  </div>
</div>
