<div class="col-lg-10 col-sm-10 col-xs-12 col-centered">
  <div class="well well-lg">
  <h1>Show the World your Flair</h1>
  <p>Join the community and start droping some flair today.</p>
  </div>
  <div class="well well-lg">
    <form class="form-horizontal">
      <fieldset>
        <legend>Register</legend>
      </fieldset>

      <div class="form-group label-floating has-info">
        <label class="control-label" for="username">username</label>
        <input ng-model="username" id="username" type="text" class="form-control input-lg">
      </div>

      <div class="form-group label-floating has-info">
        <label class="control-label" for="email">email</label>
        <input ng-model="email" id="email" type="email" class="form-control input-lg">
      </div>

      <div class="form-group label-floating has-info">
        <label class="control-label" for="password">password</label>
        <input ng-model="password" id="password" type="password" class="form-control input-lg">
      </div>

      <div class="form-group label-floating has-info">
        <label class="control-label" for="confirm">confirm password</label>
        <input ng-model="confirm" id="confirm" type="confirm" class="form-control input-lg">
      </div>

      <div class="form-group">
        <button ng-click="model.register()" class="btn btn-raised btn-info btn-block">Register</button>
      </div>
    </form>
  </div>
</div>