thead {
    font-weight: bold;
}
.gi-admin-table, .gi-form-table {
    font-size: 1.5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

.gi-field-table {
    font-size: 1.5em;
}

.field-obj-container {
    padding-top: 5px;
    padding-bottom: 5px;
}

.gi-flip {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.table-borderless tbody tr td{
    border: none;
}
a#unclickable {
    color: #A0A0A0;
    text-decoration: none;
}

.fa-sort-down,.fa-sort-up,.fa-lock {
    font-size: 2em;
}

.fa-sort-up {
    position: relative;
    top: 11px;
}

.fa.fa-unclickable {
    color: #A0A0A0;
}

.table-responsive > .table > thead > tr > td {
    vertical-align: middle;
}

.no-icon {
    position: relative;
    top: 4px;
}