.navbar {
  background-color: #167AC6;
}

/* Primary Flair*/
#primary-flair-panel-heading {
  background-color: #03A9F4;
}
#primary-flair-label {
  background-color: #03A9F4;
}

/* Secondary Flair */
#secondary-flair-panel-heading {
  background-color: #337AB7;
}
#secondary-flair-label {
  background-color: #337AB7;
}

/* Tertiary Flair */
#tertiary-flair-panel-heading {
  background-color: #3F65B5;
}
#tertiary-flair-label {
  background-color: #3F65B5;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.responsive {
  position: relative;
  padding-bottom: 56.2%;
  height: 0;
  margin: 10px 0;
  overflow: hidden;
}

.responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.gi-form-table {
  font-size: 2.0em;
}

.label-padded {
  margin: 2px;
}

.form-group.form-group-lg.label-floating label.control-label, .form-group.form-group-lg.label-placeholder label.control-label {
  top: -20px;
}
