<h1 class="page-header">Forms</h1>

<!-- Begin Tabs -->
<ul class="nav nav-tabs">
    <li role="presentation"><a href="#/forms">Forms</a></li>
    <li role="presentation" class="active"><a href="#/fields">Fields</a></li>
</ul>
<!-- Begin Tab Content -->

<div class="tab-content">
    <div class="tab-pane fade in active" id="fields-pane">
        <div class="container fields-container">

      <!-- ROW 1-->
      <div class="container field-obj-container">
          <div class="col-sm-7">
              <label class="control-label">First Name:</label>
          </div>
          <form class="form-vertical" action="forms">
              <div class='form-group'>
                  <div class="col-sm-7">
                      <input type="text" class="form-control" placeholder="First Name"/>
                  </div>
                  <div class="col-sm-5">
                      <span class="glyphicon glyphicon-pencil gi-field-table"></span>
                      <span class="glyphicon glyphicon-plus-sign gi-field-table"></span>
                      <span class="glyphicon glyphicon-remove gi-field-table"></span>
                      <span class="glyphicon glyphicon-align-justify gi-field-table"></span>
                  </div>
              </div>
          </form>
      </div>
      <!-- END -->

      <!-- ROW 2-->
      <div class="container field-obj-container">
          <div class="col-sm-7">
              <label class="control-label">Last Name:</label>
          </div>
          <form class="form-vertical" action="forms">
              <div class='form-group'>
                  <div class="col-sm-7">
                      <input type="text" class="form-control" placeholder="Last Name"/>
                  </div>
                  <div class="col-sm-5">
                      <span class="glyphicon glyphicon-pencil gi-field-table"></span>
                      <span class="glyphicon glyphicon-plus-sign gi-field-table"></span>
                      <span class="glyphicon glyphicon-remove gi-field-table"></span>
                      <span class="glyphicon glyphicon-align-justify gi-field-table"></span>
                  </div>
              </div>
          </form>
      </div>
      <!-- END -->

      <!-- ROW 3-->
      <div class="container field-obj-container">
          <div class="col-sm-7">
              <label class="control-label">Date of Birth:</label>
          </div>
          <form class="form-vertical" action="forms">
              <div class='form-group'>
                  <div class="col-sm-7">
                      <input type="date" class="form-control">

                  </div>
                  <div class="col-sm-5">
                      <span class="glyphicon glyphicon-pencil gi-field-table"></span>
                      <span class="glyphicon glyphicon-plus-sign gi-field-table"></span>
                      <span class="glyphicon glyphicon-remove gi-field-table"></span>
                      <span class="glyphicon glyphicon-align-justify gi-field-table"></span>
                  </div>
              </div>
          </form>
      </div>
      <!-- END -->

      <!-- ROW 4-->
      <div class="container field-obj-container">
          <div class="col-sm-7">
              <label class="control-label">Gender:</label>
          </div>
          <form class="form-vertical" action="forms">
              <div class='form-group'>
                  <div class="col-sm-7">

                      <div class="dropdown">
                        <button class="btn btn-default btn-block dropdown-toggle" 
                                type="button" id="dropdownMenu1" data-toggle="dropdown" 
                                aria-haspopup="true" aria-expanded="true">
                          Male
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu col-sm-12" aria-labelledby="dropdownMenu1">
                          <li><a href="#">Male</a></li>
                          <li><a href="#">Female</a></li>
                        </ul>
                      </div>
                  </div>
                  <div class="col-sm-5">
                      <span class="glyphicon glyphicon-pencil gi-field-table"></span>
                      <span class="glyphicon glyphicon-plus-sign gi-field-table"></span>
                      <span class="glyphicon glyphicon-remove gi-field-table"></span>
                      <span class="glyphicon glyphicon-align-justify gi-field-table"></span>
                  </div>
              </div>
          </form>
      </div>
      <!-- END -->

      <!-- ROW 5-->
      <div class="container field-obj-container">
          <div class="col-sm-7">
              <label class="control-label">Roles:</label>
          </div>
          <form class="form-vertical" action="forms">
              <div class='form-group'>
                  <div class="col-sm-7">
                      <form action="">
                        <input type="checkbox" name="role" value="admin"> Admin<br>
                        <input type="checkbox" name="role" value="student"> Student<br>
                        <input type="checkbox" name="role" value="user"> User
                      </form>
                  </div>
                  <div class="col-sm-5">
                      <span class="glyphicon glyphicon-pencil gi-field-table"></span>
                      <span class="glyphicon glyphicon-plus-sign gi-field-table"></span>
                      <span class="glyphicon glyphicon-remove gi-field-table"></span>
                      <span class="glyphicon glyphicon-align-justify gi-field-table"></span>
                  </div>
              </div>
          </form>
      </div>
      <!-- END -->


      <!-- ROW 6-->
      <div class="container field-obj-container">
          <div class="col-sm-7">
              <label class="control-label">License Agreement:</label>
          </div>
          <form class="form-vertical" action="forms">
              <div class='form-group'>
                  <div class="col-sm-7">
                      <form action="">
                        <input type="radio" name="license" value="1"> Yes<br>
                        <input type="radio" name="license" value="0"> No
                      </form>
                  </div>
                  <div class="col-sm-5">
                      <span class="glyphicon glyphicon-pencil gi-field-table"></span>
                      <span class="glyphicon glyphicon-plus-sign gi-field-table"></span>
                      <span class="glyphicon glyphicon-remove gi-field-table"></span>
                      <span class="glyphicon glyphicon-align-justify gi-field-table"></span>
                  </div>
              </div>
          </form>
      </div>
      <!-- END -->
      <!-- ROW 6-->
      <div class="container field-obj-container">
          <div class="col-sm-9">
              <hr>
          </div>
      </div>
      <!-- END -->

      <!-- ROW 7-->
      <div class="container field-obj-container">
        <div class="col-sm-7">
          <label class="control-label">Add New Field:</label>
        </div>
        <form class="form-vertical" action="forms">
          <div class='form-group'>
            <div class="col-sm-7">
              <div class="dropdown">
                <button class="btn btn-default btn-block dropdown-toggle" 
                        type="button" id="dropdownMenu1" data-toggle="dropdown" 
                        aria-haspopup="true" aria-expanded="true">
                  Single Line Text
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu col-sm-12">
                  <li><a href="#">Single Line Text</a></li>
                  <li><a href="#">Date</a></li>
                  <li><a href="#">Checkboxes</a></li>
                  <li><a href="#">Radio Buttons</a></li>
                </ul>
              </div>
            </div>
          <div class="col-sm-5">
            <span class="glyphicon glyphicon-plus-sign gi-field-table"></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
