<h1 class="page-header">Forms</h1>

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a data-toggle="tab" href="#forms-pane">Forms</a></li>
    <li ng-show="model.isSelected" role="presentation"><a ng-href="#/form/{{model.active._id}}/fields">Fields</a></li>
    <li ng-show="!model.isSelected" role="presentation"><a id="unclickable">Fields</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade in active" id="forms-pane">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td><i class="fa fa-fw fa-sort-down"></i>Form Name</td>
                        <td><i class="fa fa-fw fa-sort-down"></i>Action</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input ng-model="model.active.title" 
                            type="text" class="input-sm form-control"
                            placeholder="name" id="input-form-name"></td>
                        <td>
                            <span ng-click="model.addForm()" class="glyphicon glyphicon-plus-sign gi-form-table"></span>
                            <span ng-click="model.updateForm()" class="glyphicon glyphicon-ok-sign gi-form-table"></span>
                        </td>
                    </tr>
                    <tr ng-repeat="form in model.forms">
                        <td>{{form.title}}</td>
                        <td>
                            <span ng-click="model.deleteForm(form._id)" class="glyphicon glyphicon-remove gi-form-table"></span>
                            <span ng-click="model.selectForm(form._id)"  class="glyphicon glyphicon-pencil gi-form-table"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
