<h1>Admin</h1>
<h2>Users</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <td ng-switch="model.sortBy">
                    <span ng-click="model.setSortBy('-username')" 
                       ng-switch-when="+username" class="fa fa-fw fa-sort-up"></span>
                    <span ng-click="model.setSortBy('+username')"
                       ng-switch-when="-username" class="fa fa-fw fa-sort-down"></span>
                    <span ng-switch-default class="fa fa-fw fa-sort-up fa-unclickable"></span>

                    <span ng-click="model.toggleSort('username')">Username</span>
                </td>
                <td><span class="no-icon">Password</span></td>
                <td ng-switch="model.sortBy">
                    <span ng-click="model.setSortBy('-firstName')" 
                       ng-switch-when="+firstName" class="fa fa-fw fa-sort-up"></span>
                    <span ng-click="model.setSortBy('+firstName')"
                       ng-switch-when="-firstName" class="fa fa-fw fa-sort-down"></span>
                    <span ng-switch-default class="fa fa-fw fa-sort-up fa-unclickable"></span>

                    <span ng-click="model.toggleSort('firstName')">First Name</span>
                </td>
                <td ng-switch="model.sortBy">
                    <span ng-click="model.setSortBy('-lastName')" 
                       ng-switch-when="+lastName" class="fa fa-fw fa-sort-up"></span>
                    <span ng-click="model.setSortBy('+lastName')"
                       ng-switch-when="-lastName" class="fa fa-fw fa-sort-down"></span>
                    <span ng-switch-default class="fa fa-fw fa-sort-up fa-unclickable"></span>

                    <span ng-click="model.toggleSort('lastName')">Last Name</span>
                </td>
                <td><span class="no-icon">Roles</span></td>
                <td><span class="no-icon">Actions</span></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input ng-model="model.selected.username"
                     type="text" class="input-sm form-control" placeholder="username"></td>
                <td><input ng-model="model.selected.password" 
                    type="password" class="input-sm form-control" placeholder="password"></td>
                <td><input ng-model="model.selected.firstName" 
                    type="text" class="input-sm form-control" placeholder="first"></td>
                <td><input ng-model="model.selected.lastName" 
                    type="text" class="input-sm form-control" placeholder="last"></td>
                <td><input ng-model="model.selected.roles" 
                    type="text" class="input-sm form-control" placeholder='role1, role2'></td>
                <td>
                    <span ng-click="model.addUser()" class="glyphicon glyphicon-plus gi-admin-table"></span>
                    <span ng-click="model.updateUser()" class="glyphicon glyphicon-ok gi-admin-table"></span>
                    <span ng-click="model.clearSelected()" class="glyphicon glyphicon-repeat gi-admin-table gi-flip"></span>
                    <!-- <a ng-click="model.clearSelected()" href="">clear</a> -->
                    <!-- <span ng-click="model.clearSelected" class="glyphicon glyphicon-remove gi-admin-table"></span> -->
                </td>
            </tr>
            <tr ng-repeat="user in model.users | orderBy:model.sortBy">
                <td>{{user.username}}</td>
                <td></td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <!-- <td><span ng-repeat="role in user.roles">{{role}}</span></td> -->
                <td>{{user.roles}}</td>

                <td>
                    <span ng-click="model.editUser(user)" class="glyphicon glyphicon-cog gi-admin-table"></span>
                    <span ng-click="model.deleteUser(user)" class="glyphicon glyphicon-remove gi-admin-table"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
