<div class="container">
  <div class="jumbotron">
    <div col="col-md-10">

      <h1>Hello, TA!</h1>
      <p>
          If you're reading this live it's in the prototype stage.

          Some login credentials are: 
          <p><code>'alice:alice', 'bob:bob', 'c:c'</code></p>

        </p>
        <h2>Prototype Features:</h2>
        <p>

          <ul>
            <li><h3>Search Filtering by Flair</h3></li>
            <li><h3>Overhauled look/feel of Recommendations</h3></li>
            <li><h3>Profile is now editable! (try editing media here!)</h3></li>
          </ul>
        </p>
        <h2>Major Features Todo:</h2>
        <p>

          <ul>
            <li><h3>Implement Connections between Users</h3></li>
            <li><h3>Enhanced Search for Recruiter Role</h3></li>
            <li><h3>User Feed (Shown On this home page)</h3></li>
          </ul>
        </p>

    </div>
  </div>
</div>
