<div class="jumbotron">
  <div class="container">
    <h1>Hello, TA!</h1>
    <p>
      If you're reading this live it's in the PoC stage. Please go to
      <a href="#/poc/profile">the profile demo</a> to see my proof of
      concept for the API that I'm using (feel free to click through
      some of the other users to see how the media changes.
       The API is embed.ly, which
      allows for the embedding of ANY content (articles, videos, music)
      by supplying a url.  They also have additional services for managing
      images that I'm thinking about adding.  This will allow my users
      to insert any MEDIA that they want that they would like on their
      minimal profile.  Going along with the idea of my app, this is 
      going to be the most expression my users get to show other users
      what their interests are, outside of flair.
      </p><p>
      In order to demonstrate some of the CRUD operations I need,
      I've built an <a href="#/poc/admin">'admin'</a> page of sorts for the PoC.
      </p><p>
      Style:
        You might notice that the page doesn't look like bootstrap.
        It's actually all 100% bootstrap, but I've implemented
        a custom style called boostrap-material-design, which is 
        modeled after Google's material design elements.  I love this
        style, and when it comes to mobile first, material is way 
        ahead of the game.
    </p><p>

    </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>
