<div class="container">
  <div ng-if="model.isLoggedIn();">
    <h1>Recent Events</h1>

    <div ng-if="model.errorMessage" class="alert alert-dismissible alert-warning">
        <button type="button" ng-click="model.clearError()" class="close" data-dismiss="alert">×</button>
        <strong>{{model.errorMessage}}</strong>
      </div>

    <div ng-repeat="event in model.events">
      <div ng-switch="event.action" class="container-fluid well well-sm">
        <div ng-switch-when="connect">
          <h1>
            <a href="#/profile/{{event.userA}}">@{{event.userA}}</a>
            connected with 
            <a href="#/profile/{{event.userB}}">@{{event.userB}}</a>
          </h1>
        </div>
        <div ng-switch-when="recommend" class="container-fluid well well-sm">
          <h1>
            <a href="#/profile/{{event.userA}}">@{{event.userA}}</a>
            recommended 
            <a href="#/profile/{{event.userB}}">@{{event.userB}}</a>
            for their
            <a href="javascript:void(0)">{{event.context}}</a> flair.
          </h1>
        </div>
        <div ng-switch-when="mediaUpdate">
          <h1>
            <a href="#/profile/{{event.userA}}">@{{event.userA}}</a>
            updated their media selection!
            <div class="panel-body responsive">
          <div ng-bind-html="event.iframe"></div>
        </div>
          </h1>
        </div>
        <div ng-switch-when="imageUpdate">
          <h1>
            <a href="#/profile/{{event.userA}}">@{{event.userA}}</a>
            updated their profile picture!
              <img class="image-responsive center-block" 
               ng-src="{{model.resize(event.context, 400);}}"
               alt="@{{event.userA}}'s new Profile Picture">
          </h1>
        </div>

    </div>
  </div>
  </div>

  <div ng-if="!model.isLoggedIn();" class="jumbotron">
    <h1>Welcome</h1>
     <p>Create your profile today to start dropping some flair.  Flairdrop
     is a miniature social network that lets you quickly connect with others who share your flair.
     </p>
    <p><a href="#/register" class="btn btn-primary btn-lg">Register</a>
    <a href="#/login" class="btn btn-primary btn-lg">Login</a></p>
  </div>
</div>
