<div ng-controller="NavigationController as model">
    <div class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/home">Flairdrop</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">

          <form class="navbar-form navbar-left" rol="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Find People">
            </div>
          </form>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#/search">Search</a></li>
            <li><a href="#/admin">Admin</a></li>
            <li><a href="#/profile">Profile</a></li>
            <li><a href="#/login">Login</a></li>
            <li><a href="#/register">Register</a></li>

          </ul>
        </div>
      </div>
  </div>
</div>
