<div ng-controller="NavigationController as model">
    <div class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="#/home">flairdrop</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">

        <!-- TODO: Impl. a route to search with query params -->
          <ul class="nav navbar-nav navbar-right">

            <li ng-show="model.isLoggedIn()"
                ng-class="{ active : model.isActive('/search') }">
                    <a href="#/search">Search</a></li>

            <li ng-show="model.isRecruiter()"
                ng-class="{ active : model.isActive('/advancedsearch') }">
              <a href="#/advancedsearch">Recruiter Search</a></li>

            <li ng-show="model.isLoggedIn()"
                ng-class="{ active : model.isActive('/profile') }">
              <a href="#/profile">{{model.user().username}}</a></li>

            <li ng-show="model.isLoggedIn()">
                <a ng-click="model.logout()" href="#/home">Logout</a></li>

            <li ng-show="!model.isLoggedIn()"
                    ng-class="{ active : model.isActive('/login') }">
                    <a href="#/login">Login</a></li>

            <li ng-show="!model.isLoggedIn()" 
                    ng-class="{ active : model.isActive('/register') }">
                    <a href="#/register">Register</a></li>
          </ul>
        </div>
      </div>
  </div>
</div>
